<!-- <form class="ui large form  segment">
  <h3 class="ui header">Add a  link</h3>
  <div class="field">
    <label for="title"> title: </label>
    <input type="text" name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link"> link: </label>
    <input type="text" name="link" #newlink>
  </div>

  <button (click)="addArticle(newtitle,newlink)" class="ui positive right floated button">
  submit  link
</button>
</form> -->


<!-- 控件 -->
<!-- 内置指令 -->

<!-- <app-ng-if></app-ng-if>
<app-ng-switch></app-ng-switch>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-ng-for></app-ng-for>
<app-ng-non-bindable></app-ng-non-bindable> -->

<!-- 表单 -->

<!-- <app-demo-form-sku></app-demo-form-sku>
<app-demo-form-sku-builder></app-demo-form-sku-builder>
<app-demo-form-with-validations></app-demo-form-with-validations>
<app-demo-form-with-validations-explicit></app-demo-form-with-validations-explicit>
<app-demo-form-validations-shorthand></app-demo-form-validations-shorthand>
<app-demo-form-custom-validations></app-demo-form-custom-validations>
<app-demo-form-value-chang></app-demo-form-value-chang>
<app-demo-form-ng-model></app-demo-form-ng-model> -->


<div>
  <nav>
    <div class="ui buttons">
      <button class="ui white basic button" disabled="">路由切换</button>
      <button class="ui red basic button"><a [routerLink]="['home']">Home</a></button>
      <button class="ui green basic button"><a [routerLink]="['about']">About</a></button>
      <button class="ui yellow basic button"><a [routerLink]="['contact']">Contact Us</a></button>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
