<div class="ui  container">
  <div class="ui center aligned basic segment">
    <nav>
      <div class=" ui buttons">
        <button class="ui red button" [routerLink]="['home']">home</button>
        <button class="ui orange button" [routerLink]="['about']">About</button>
        <button class="ui yellow button" [routerLink]="['contact']">Contact Us</button>
        <button class="ui olive button" [routerLink]="['artId/123']">ArtId/123</button>
        <button class="ui green button" [routerLink]="['music']"> music </button>
        <button class="ui teal button" [routerLink]="['products']">products</button>
        <!-- <button class="ui blue button">Blue</button>
        <button class="ui violet button">Violet</button>
        <button class="ui purple button">Purple</button>
        <button class="ui pink button">Pink</button>
        <button class="ui brown button">Brown</button>
        <button class="ui grey button">Grey</button>
        <button class="ui black button">Black</button> -->
      </div>
    </nav>
    <div class="ui horizontal divider">|´・ω・)ノ</div>
    <router-outlet></router-outlet>
  </div>
</div>
